# basic make
snippet make
	CC = gcc
	CFLAGS = -Wall -Wextra -Wuninitialized
	LDFLAGS = ${1:-lm}

	prog: ${0:main.c}
		$(CC) $(CFLAGS) -o $@ $^ $(LDFLAGS)
# latex (bib)
snippet lmake
	pfd: article.tex refs.bib
		pdflatex article.tex
		bibtex article
		pdflatex article.tex
		pdflatex article.tex

	clean:
		rm -rf *.log *.aux *.dvi *.bbl *.blg
