# head
snippet head
	---
	title: $0
	author: drfailer
	geometry: margin=2cm
	---
# link
snippet link
	[${1:desc}](${2:link})$0
# img
snippet img
	![${2:desc}](${1:path})$0
# code blocs
snippet code
	\`\`\`${1:cpp}
	$0
	\`\`\`
snippet cpp
	\`\`\`cpp
	$0
	\`\`\`
snippet ocaml
	\`\`\`ocaml
	$0
	\`\`\`
snippet bash
	\`\`\`bash
	$0
	\`\`\`
##### latex
snippet frac
	\frac{$1}{$2}$0
snippet begin
	\begin{${1:document}}
		${0}
	\end{${1:document}}
snippet align
	\begin{align}
		$0
	\end{align}
